<style>
body {
  background-image: url('https://i.ytimg.com/vi/-ZGlaAxB7nI/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<div style = "position:absolute; left:1400px; top:10px;">
<a href="/home/index"><img src="https://i.pinimg.com/originals/80/21/74/8021744fc275101ed9a4b75ace41f168.gif"
 alt="Home" width="60" height="60"></a><a>Home</a></div>