<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/960864868555925364/2FA5EA827A919FEF7D5CC4A74A7491ADDF729E01/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.</h1>

<a style="color:white;" <%= form_tag ('/signin') do %>
    <label>Your name: </label>
    <%= collection_select :user, :name, User.all, :name, :name, {prompt: "Please select your username from this dropdown"} %>
    <br><br>


    <label>Your password: </label><br>
    <input type="password", name="user[password]", id="password"><br><br>
    <input type="submit", value="Sign In">

<% end %>