<style>
body {
  background-image: url('https://i.pinimg.com/originals/77/4e/bd/774ebd39cf6673fa02200f53f19d2d2c.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: 100% 100%;
}
</style>
    
<h7>.</h7>
<h9>.</h9>
<h1> Welcome To</h1>
<h2>Dark Souls Bonfire</h2>
<p><b>Face Gundyr to start you journey,</b></p>
<p><b>Click on the Bonfire to continue your journey</b></p>
<p><b>Meet with the giant to carve out your character</b></p>



<div style = "position:absolute; left:40px; top:300px;">
   <a href="/users/new"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5264bf44-c241-4f4f-8012-dca288a9ebcb/dbexl4o-46f9c297-6b4d-4df1-83b9-1cad0187f352.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvNTI2NGJmNDQtYzI0MS00ZjRmLTgwMTItZGNhMjg4YTllYmNiXC9kYmV4bDRvLTQ2ZjljMjk3LTZiNGQtNGRmMS04M2I5LTFjYWQwMTg3ZjM1Mi5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.EHMxcZD-JDsVPvz49wIolNEXp_yd2m4JHYSsSsYkmj8"
    alt="Champion Gundyr" width="90" height="90"></a></div>

<div style = "position:absolute; left:730px; top:210px;">
   <a href="/characters/new"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/c9499c73-5e47-4fd4-9114-92eebe9873a3/d6hbngm-cfe9955f-1e91-42fb-8316-c3cb7b1057c8.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvYzk0OTljNzMtNWU0Ny00ZmQ0LTkxMTQtOTJlZWJlOTg3M2EzXC9kNmhibmdtLWNmZTk5NTVmLTFlOTEtNDJmYi04MzE2LWMzY2I3YjEwNTdjOC5naWYifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.18DmhjFyp6dTkSyAGMAE5LqoRT0Fn_Vgg5fy_gl9rjs"
    alt="Giant" width="20" height="20"></a></div>

<div style = "position:absolute; left:561px; top:595px;">
    <a href="/signin"><img src="https://i.pinimg.com/originals/80/21/74/8021744fc275101ed9a4b75ace41f168.gif"
    alt="Bonfire" with="240" height="240"></a></div>


  
  <div style = "position:absolute; left:1400px; top:10px;">
   <a href="/home/index"><img src="https://i.pinimg.com/originals/80/21/74/8021744fc275101ed9a4b75ace41f168.gif"
    alt="Home" width="60" height="60"></a><a>Home</a></div>
