<style>
body {
  background-image: url('https://steamuserimages-a.akamaihd.net/ugc/499143085897427594/F99324B44233866B8CAC97588A8C48F876A655EA/');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
</style>

<h1>.</h1>

<p style= "color:white;"><strong>Name:</strong> <%= @character.name %></p>
<br>


